﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ubahpassword.aspx.cs" Inherits="webformapi1.ubahpassword.ubahpassword" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Update Password</title>
      <meta charset="utf-8" />
     <meta http-equiv="Cache-Control" content="no-cache"/>
          <meta http-equiv="Pragma" content="no-cache"/>
          <meta http-equiv="Expires" content="0"/>
       <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
          <meta name="HandheldFriendly" content="true" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylelogin.css" type="text/css" />
       <link rel="stylesheet" href="../ASSET/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="../ASSET/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../ASSET/bootstrap-theme.css" type="text/css" />
    <link rel="stylesheet" href="../ASSET/bootstrap.min.css" type="text/css" />
    <script src="../scripts/jquery-1.8.2.min.js"></script>
       <link rel="stylesheet" href="../ASSET/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="../ASSET/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../ASSET/bootstrap-theme.css" type="text/css" />
    <link rel="stylesheet" href="../ASSET/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="styleubahpassword.css" />
    <script src="../ASSET/bootstrap.js" type="text/javascript"></script>
    <script src="../ASSET/bootstrap.min.js" type="text/javascript"></script>
    <script src="../scripts/jquery-1.8.2.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <form id="form1" runat="server">
     <div id="wrapper">
        <div class="row">
            <div class="column leftcol">
                <img src="../ASSET/pm-ultra-icon.png" class="poto"/>
            </div>

                        <div class="column">

      
    <div class="box-login">
        <table>
          <tr>
              <td>
                  <p> Change Your Password : <label runat="server" id="lbs"></label> </p>
              </td>
          </tr>
         
               <tr>
                <td><asp:TextBox runat="server" ID="TextBox1" autocomplete="off" CssClass="form-control" placeholder="Insert Your Password" TextMode="Password" ></asp:TextBox></td>
            </tr>
            <tr>
               
               
                <td>
                    <asp:Button runat="server" Text="Submit" ID="btn_login" OnClick="btn_login_Click" CssClass="btn" />
                    <a href="../Login/loginpage.aspx">Login</a>
                </td>
                                      

            </tr>
            <tr>
                <td>
                    <label id="lb" runat="server" class="lberror"></label>
                </td>
            </tr>
          
        </table>
     <%--   <asp:GridView runat="server" ID="dg"></asp:GridView>--%>
      </div>

                        </div>
            </div>
         </div>
    </form>
</body>
</html>
