﻿*{margin:0; padding:0;}
 #wrapper{padding-left:260px;}
 a{text-decoration:none;}
 .breadcrumb{ background-color:rgb(247, 242, 243); margin:0; padding:10px; margin-bottom:5px; }
  .box{display:flex; flex-direction:column; width:50vh;}


  /* The Modal (background) */
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content2 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

 table.mygridview
{
	color: #000099;
    width:115vh;
}
table.mygridview th
{
	font-weight: normal;
	color:white;
	font-size:1.1em;
    padding:15px;
}
.ss{width:30vh;}
table.mygridview td
{
	font-size: 1em;
	padding: 12px;
}
table.mygridview td:nth-child(2){
	text-align:left;
}

.container{display:flex; flex-direction:row;}

div.form .btn {
    
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;}

div.form .btn:hover {
  background: #0b7dda;
}

.kanan{padding:10px 5px 10px; width:10vh; background-color:rgb(208, 22, 22); color:white;}

div.form::after {
  content: "";
  clear: both;
  display: table;
}

.box-data{background-color:white;}

.ass{ width:40vh; background-color:rgb(208, 22, 22); color:white;}
.kanans{margin-right:20px;}
.btn22{padding:10px 5px 10px; width:10vh; background-color:rgb(208, 22, 22); color:white; margin-top:10px;}
.drops{color: #fff;
font-size: 10px;
padding: 5px 10px;
border-radius: 5px 12px;
background-color: #292929;
font-weight: bold;}

.btn{ padding:10px 5px 10px; width:10vh; background-color:rgb(208, 22, 22); color:white;}
.btn2:hover{cursor:pointer; background-color:rgb(177, 134, 177);}
.box-control{ width:100%; margin:0 auto; align-items:center; padding:10px; display:flex; flex-direction:row;}
 /*.breadcrumb{float:right;}*/