﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Masterpage/Site1.Master" AutoEventWireup="true" CodeBehind="Dashboard.aspx.cs" Inherits="webformapi1.Dashboard.Dashboard" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <link rel="stylesheet" href="styledashboard.css" type="text/css" />
      <link rel="stylesheet" href="../ASSET/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="../ASSET/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../ASSET/bootstrap-theme.css" type="text/css" />
    <link rel="stylesheet" href="../ASSET/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="styledrop.css" type="text/css" />
      <script src="../ASSET/bootstrap.js" type="text/javascript"></script>
    <script src="../ASSET/bootstrap.min.js" type="text/javascript"></script>
    <script src="../scripts/jquery-1.8.2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">


   

        function tes1()
        {
            var e = document.getElementById("ddlViewBy");
            var dates = new Date();
            var times = dates.getTime();
            var strUser = e.options[e.selectedIndex].text;
            <%--   $("#<%=s.ClientID%>").val(strUser);--%>
            $("#<%=txtid.ClientID%>").val(strUser + times);
            var s = document.getElementById("lbs");
            document.getElementById("SendA").value = strUser;

            var ss = s.innerText = strUser;

          // alert(ss+times);
        }
       

    </script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server" >
    <asp:TextBox runat="server" ID="lb" Text="asaa"></asp:TextBox>

      <div id="wrapper">
    <div class="breadcrumb cs">
      <a href="Dashboard.aspx"> Dashboard</a> 
    </div>


          <div class="dashboard-tile">


                    <div class="tile1 a">
<%-- icon user--%>
                <a href="../User/User.aspx"> <img src="../ASSET/user-menu-512.png" class="hov" height="70" width="70" alt="Management User" title="Management User" /></a>
                    
                  <div class="tiletile1">
                      <asp:Label runat="server" ID="lbcount1" ForeColor="Blue" Font-Bold="true" Font-Size="12" Text="0"></asp:Label>
                    &nbsp;&nbsp;&nbsp; <p>User</p> 
                  </div>

              </div>

                           <div class="tile1">
                  
                  <%-- icon product--%>
<a href="../Product/Product.aspx"><img src="../ASSET/kissclipart-agile-methodology-icon-product-icon-release-icon-aae9433ba995367c.png" class="hov" height="30" width="30" alt="Product" title="Product" />    </a>                    
                  <div class="tiletile1">
                      <asp:Label runat="server" ForeColor="Blue" Font-Bold="true" Font-Size="12" ID="Label9" ></asp:Label>
                     <p>JProduct</p> 
                     &nbsp;&nbsp;&nbsp; <label id="Label14" runat="server"></label>
                
              
          </div>

              </div>

             <%-- icon invoice--%>

               <div class="tile1">
                  
                           <%--icon invoice--%>

                          <a href="../Invoice/Invoice.aspx">  <img src="../ASSET/invoice-icon-54.png" width="30" class="hov" height="30" alt="Invoice" title="Invoice"  /></a>
                      
                  <div class="tiletile1">
                      <asp:Label runat="server" ID="Label2" ForeColor="Blue" Font-Bold="true" Font-Size="12" ></asp:Label>
                   &nbsp;&nbsp;&nbsp;  <p>Invoice</p> 

              
          </div>
              </div>

                <div class="tile1">
                  <%--icon license--%>
                         <a href="../License/License.aspx"><img src="../ASSET/1649292.png" width="30" class="hov" height="30" alt="License" title="License"  /></a>   
                      
                  <div class="tiletile1">
                      <asp:Label runat="server" ID="Label3" ForeColor="Blue" Font-Bold="true" Font-Size="12"></asp:Label>
                  &nbsp;&nbsp;&nbsp;   <p>License</p> 

              
          </div>
              </div>


               <div class="tile1">
                  <%--icon license--%>
                    <a href="../CustomerDetail/CustomerDetail.aspx"><span><img src="../ASSET/unnamed.png" width="30" class="hov" height="30" alt="Log Customer Detail" title="Log Customer Detail"  /> </span></a>  
                      
                  <div class="tiletile1">
                      <asp:Label runat="server" ID="Label1" ForeColor="Blue" Font-Bold="true" Font-Size="12" ></asp:Label>
                   &nbsp;&nbsp;&nbsp;  <p>Customer</p> 

              
          </div>
              </div>

                 


          </div>

           <div class="dashboard-tile">
                 <div class="tile1">
                  <%--icon license--%>
                    <a href="../CustomerDetail/CustomerDetail.aspx"><span><img src="../ASSET/unnamed.png" width="30" class="hov" height="30" alt="Log Customer Detail" title="Log Customer Detail"  /> </span></a>  
                      
                  <div class="tiletile1">
                      <asp:Label runat="server" ID="Label4" ForeColor="Blue" Font-Bold="true" Font-Size="12" ></asp:Label>
                   &nbsp;&nbsp;&nbsp;  <p>Complaint</p> 

              
          </div>
              </div>
                    <div class="tile1">
                  <%--icon license--%>
                    <a href="../CustomerDetail/CustomerDetail.aspx"><span><img src="../ASSET/unnamed.png" width="30" class="hov" height="30" alt="Log Customer Detail" title="Log Customer Detail"  /> </span></a>  
                      
                  <div class="tiletile1">
                      <asp:Label runat="server" ID="Label5" ForeColor="Blue" Font-Bold="true" Font-Size="12" ></asp:Label>
                   &nbsp;&nbsp;&nbsp;  <p>News</p> 

              
          </div>
              </div>

               </div>

      <div class="box2">

            <div class="box-complain">
            <div class="form-group">
                <h3> Form Complain</h3>
                <hr />
            </div>
            <div class="form-group">
                ID
                <asp:TextBox runat="server" ID="txtid" CssClass="form-control"></asp:TextBox>
            </div>
                <div class="form-group">

                <select id="ddlViewBy"   onchange="tes1()">
  <option value="1">COMPLAINT</option>
  <option value="2">NEWS</option>
</select>
     <input type="hidden" value="" id="SendA" name="SendA" />

               <label id="lbs"></label>
            </div>
               
      
            <div class="from-group">
                From
             <asp:TextBox runat="server" ID="txtfrom" CssClass="form-control"></asp:TextBox>
            </div>
      
            <div class="form-group">
                To
             <asp:TextBox runat="server" ID="txtto" CssClass="form-control"></asp:TextBox>
               
            </div>

            <div class="form-group">

                Date
                <asp:TextBox runat="server" ID="txtdate" CssClass="form-control"></asp:TextBox>

            </div>

            <div class="form-group">
                Subject
                <asp:TextBox runat="server" ID="txtsubject" CssClass="form-control"></asp:TextBox>
            </div>
            <div class="form-group">
                Content
                <textarea class="form-control" id="txtconten" runat="server"></textarea>
            </div>

            <div class="form-group">
                Contact
                <asp:TextBox runat="server" ID="txtcontact" CssClass="form-control"></asp:TextBox>
            </div>

            <div class="form-group">
                Attachment
                <asp:FileUpload runat="server" ID="upload" CssClass="glyphicon-upload" />
                <asp:Label runat="server" ID="lbpath"></asp:Label>
            </div>

            <div class="form-group">
                 <asp:Button runat="server" ID="btnss" CssClass="btn btn-default" OnClick="btnss_Click" Text="Send" />
            </div>

        </div>

     

          <div class="box-s">

            
              <div class="comp">

                    <div class="titles">
                  <h3> Complain list</h3>

              </div>
                  <hr />

                  <div class="con">
                  <ul>
                       <li> complain1</li>
                       <li> complain1</li>
                       <li> complain1</li>
                       <li> complain1</li>
                      <li> complain1</li>
                  </ul>
                  </div>
              </div>
              <div class="nes">
                    <div class="titles">
                  <h3> News list</h3>

              </div>
                    <hr />
                   <ul>
                       <li> complain1</li>
                       <li> complain1</li>
                       <li> complain1</li>
                       <li> complain1</li>
                      <li> complain1</li>
                  </ul>

              </div>
              

          </div>

      

      </div>


        

    </div>
</asp:Content>
