﻿
*{margin:0; padding:0;}
 #wrapper{padding-left:210px;}
 .btn{padding:10px 5px 10px; width:10vh; background-color:rgb(208, 22, 22); color:white; margin-top:10px;}
 .box{display:flex; flex-direction:column; width:50vh;}
body {
}
