﻿*{margin:0; padding:0;}
 #wrapper{padding-left:240px;}
 a{text-decoration:none;}
 .breadcrumb{ background-color:rgb(247, 242, 243); margin:0; padding:10px; margin-bottom:5px; }
  .box{display:flex; flex-direction:column; width:50vh;}


  .mydatagrid
{
    width: 80%;
    border: solid 2px black;
    min-width: 80%;
}
.headers
{
    background-color: #646464;
    font-family: Arial;
    color: White;
    border: none 0px transparent;
    height: 25px;
    text-align: center;
    font-size: 16px;
}
 .rounded_corners
    {
        border: 0px solid #A1DCF2;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        overflow: hidden;
    }
    .rounded_corners td, .rounded_corners th
    {
        border: 1px solid #A1DCF2;
        font-family: Arial;
        font-size: 10pt;
        text-align: center;
    }
    .rounded_corners table table td
    {
        border-style: none;
    }
.rows
{
    background-color: #fff;
    font-family: Arial;
    font-size: 14px;
    color: #000;
    min-height: 25px;
    text-align: left;
    border: none 0px transparent;
}
.rows:hover
{
    background-color: #ff8000;
    font-family: Arial;
    color: #fff;
    text-align: left;
}
.selectedrow
{
    background-color: #ff8000;
    font-family: Arial;
    color: #fff;
    font-weight: bold;
    text-align: left;
}
.mydatagrid a /** FOR THE PAGING ICONS  **/
{
    background-color: Transparent;
    padding: 5px 5px 5px 5px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
 
.mydatagrid a:hover /** FOR THE PAGING ICONS  HOVER STYLES**/
{
    background-color: #000;
    color: #fff;
}
.mydatagrid span /** FOR THE PAGING ICONS CURRENT PAGE INDICATOR **/
{
    background-color: #c9c9c9;
    color: #000;
    padding: 5px 5px 5px 5px;
}
.pager
{
    background-color: #646464;
    font-family: Arial;
    color: White;
    height: 30px;
    text-align: left;
}
 
.mydatagrid td
{
    padding: 5px;
}
.mydatagrid th
{
    padding: 5px;
}

  .Grid {background-color: #fff; margin: 5px 0 10px 0; border: solid 1px #525252; border-collapse:collapse; font-family:Calibri; color: #474747;}

.Grid td {

      padding: 2px;

      border: solid 1px #c1c1c1; }

.Grid th  {

      padding : 4px 2px;

      color: #fff;

      background: #363670 url(Images/grid-header.png) repeat-x top;

      border-left: solid 1px #525252;

      font-size: 0.9em; }

.Grid .alt {

      background: #fcfcfc url(Images/grid-alt.png) repeat-x top; }

.Grid .pgr {background: #363670 url(Images/grid-pgr.png) repeat-x top; }

.Grid .pgr table { margin: 3px 0; }

.Grid .pgr td { border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-weight: bold; color: #fff; line-height: 12px; }  

.Grid .pgr a { color: Gray; text-decoration: none; }

.Grid .pgr a:hover { color: #000; text-decoration: none; }

  /* The Modal (background) */
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content2 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}


.rounded_corners
    {
        border: 0px solid #A1DCF2;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        overflow: hidden;
    }
    .rounded_corners td, .rounded_corners th
    {
        border: 1px solid #A1DCF2;
        font-family: Arial;
        font-size: 10pt;
        text-align: center;
    }
    .rounded_corners table table td
    {
        border-style: none;
    }


.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

 table.mygridview
{
	color: #000099;
    width:115vh;
}
table.mygridview th
{
	font-weight: normal;
	color:white;
	font-size:1.1em;
    padding:15px;
}
.ss{width:30vh;}
table.mygridview td
{
	font-size: 1em;
	padding: 12px;
}
table.mygridview td:nth-child(2){
	text-align:left;
}

.container{display:flex; flex-direction:row;}

div.form .btn {
    
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;}

div.form .btn:hover {
  background: #0b7dda;
}

.kanan{padding:10px 5px 10px; width:10vh; background-color:rgb(208, 22, 22); color:white;}

div.form::after {
  content: "";
  clear: both;
  display: table;
}

.aax{width:20vh;}

.box-isi{margin-top:10px;}
.box-data{background-color:white;}

.ass{ width:40vh; background-color:rgb(208, 22, 22); color:white;}
.kanans{margin-right:20px;}
.btn22{padding:10px 5px 10px; width:10vh; background-color:rgb(208, 22, 22); color:white; margin-top:10px;}
.drops{color: #fff;
font-size: 10px;
padding: 5px 10px;
border-radius: 5px 12px;
background-color: #292929;
font-weight: bold;}

.btn{ padding:10px 5px 10px; width:10vh; background-color:rgb(208, 22, 22); color:white;}
.btn2:hover{cursor:pointer; background-color:rgb(177, 134, 177);}
.box-control{ width:100%; margin:0 auto; align-items:center; padding:10px; display:flex; flex-direction:row;}
 /*.breadcrumb{float:right;}*/