﻿*{margin:0; padding:0;}
 #wrapper{padding-left:240px;  margin-top:-20px;     }
 a{ text-decoration:none;}
 .boz{ display:flex; flex-direction:row; 
       
 }
 .con{display:flex; flex-direction:column;}
 .box-s{display:flex; flex-direction:row;}

 .comp{display:flex; flex-direction:column; width:300px;}
 .nes{display:flex; flex-direction:column; width:300px; }
 .box2{ display:flex; flex-direction:row;}

 .box-complain{ width:400px;}

 .dashboard-tile{display:flex; flex-direction:row;  margin-right:30px; padding-right:30px; }

 .cs {margin:0;}
 .catatuser{display:flex; width:5vh;  flex-direction:column; padding:5px; margin:25px;   border-radius:10px;}
.tile1 img{height:50px; width:50px;}
.useraktif{  display:flex; flex-direction:column;  box-shadow: 5px 5px 5px grey; }

.hov:hover{background-color:rgb(182, 255, 0); cursor:pointer;}

.breadcrumb{ background-color:rgb(247, 242, 243); margin:0; padding:10px;  margin-bottom:5px; width:100%;}

.boc{display:flex; flex-direction:row; padding:10px; margin:5px;}


.box-tile{display:flex; flex-direction:row; width:20px; padding:5px; margin:15px;}

.tile1{display:flex; flex-direction:row;  padding:10px; margin:5px; background-color:rgb(92, 228, 215) ; width:30vh; border-radius:10px;}

.tiletile1 {display:flex; flex-direction:row; padding:4px; margin:5px; }
p{padding:3px;}

body {
    background-color:grey;
}

.a{background-color:#66ff99}
